.header {
    background-color: transparent;
    padding: 30px 20px;
}

.header-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a img {
        width: 15%;
    }
}

.navbar-toggler-icon {
    display: none;
}

.offcanvas {
    display: none;
    background: #222;

    h5 {
        color: $primary;
        font-size: 40px;
    }

}

.nav-item a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: $text;
    margin-left: 35px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;

    &:focus,
    &:hover {
        color: $primary;
    }

    &:focus:after, 
    &:hover:after {
        width: 100%;
        left: 0%;
    }

    &:after {
        content: '';
        pointer-events: none;
        bottom: 0;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: $primary;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left;
    }
}



/* MEDIA QUERY */

@media (min-width: $bpSmall) and (max-width: $bpLarge) {

/* HEADER */

    .header {
        display: flex;
        width: 100%;
    }

    .header-container { 

        a img {
            width: 20%;
        }
    }

    .nav-item a {
        display: none;
    }

    .navbar-toggler-icon {
        display: flex;
        background-color: $fondo;
        color: $primary;
        font-size: 30px;
    }

    .offcanvas {
        display: flex;
        font-size: 20px;
    }

    .offcanvas-body a {
        display: flex;
        font-size: 15px;
    }
}


