// CONFERENCES

.conferences {
    @include default;
}

.conferences-info {
    h1 {
        color: $primary;
        text-align: center;
        font-size: 40px;
        padding: 40px;
        border-bottom: 2px solid #fff4;
    }

    p {
        font-size: 20px;
        color: $text;
        padding: 50px 30px;
    }
}

.conferences-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .conferences-bottom {
        max-width: 1280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        .conferences-item {
            flex-basis: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
            border-radius: 20px;
            background-image: url(/assets/images/img3.png);
            background-size: cover;
            margin: 15px;
            position: relative;
            z-index: 1;
            overflow: hidden;
        
            h2 {
                font-size: 25px;
                color: $text;
                text-align: center;
                margin: 20px;
                text-transform: uppercase;
            }
        
            p {
                color: $text;
                text-align: left;
                font-size: 20px;
                line-height: 20px;
            }
        
            &:hover {
                transform: translateY(-5px);
                transition: 1s;
            }
        
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-image: linear-gradient($primary 0%, $secondary 100%);
                opacity: .8;
                z-index: -1;
            }

        &.icon {
            height: 80px;
            width: 80px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        }
    }
}

// END-CONFERENCES




// MEDIAQUERY

@media (min-width: $bpSmall) and (max-width: $bpLarge) {
    .conferences {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .conferences-info {
        padding: 20px;
    
        h1 {
            font-size: 30px;
            text-align: center;
            border-bottom: 3px solid $secondary;
        }

        p {
            font-size: 20px;
        }
    }

    .conferences-bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        .icon img {
            height: 70px;
            width: 70px;
        }

        h2 {
            font-size: 30px;
            text-align: center;
        }

        p {
            font-size: 20px;
            padding: 80 60px;
            text-align: center;
        }
    }
}




