// Colors

$primary: #d5aeb4;
$secondary: #c0bfbf;
$text: #fff;
$fondo: black;

// Breakpoints

$bpSmall: 320px;
$bpLarge: 1280px;

// Default

$boxShadow: 5px 3px 9px -4px #d5aeb4,-5px -3px 9px -4px #c0bfbf;